<% layout('/layouts/default.html', {title: '退换管理', libs: ['validate','fileupload','dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(returnC.isNewRecord ? '新增退换' : '编辑退换')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="selectContractForm" model="${returnC}" action="${ctx}/returnc/returnC/fullProduct" method="post" class="form-horizontal">
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> ${text('选择销售合同')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-offset-2 col-sm-10">
							<#form:select id="contract" path="contract" items="${contractList}" itemLabel="contractCode" itemValue="id" blankOption="true" class="form-control" />
						</div>
					</div>
				</div>
			</div>
		</#form:form>
		
		<#form:form id="inputForm" model="${returnC}" action="${ctx}/returnc/returnC/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide"></span> ${text('退换单号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="returnCode" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('合同编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="contractCode" maxlength="64" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('货物状态')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="goodsStatu" blankOption="true" dictType="trading_goods_statu" class="form-control required" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('退换类型')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="returnType" blankOption="true" dictType="trading_return_type" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('退换日期')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="returnDate" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('退款金额(￥)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="totalAmount" min="0" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('退换原因')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="returnCauses" maxlength="200" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('退换单位')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select blankOption="true" path="returner" items="${customers}" itemLabel="name" itemValue="name" maxlength="64" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('联系电话')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="returnerPhone" maxlength="64" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('退换地区')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:treeselect id="returnDistrict" title="${text('区域选择')}"
									path="" labelPath="returnDistrict"
									url="${ctx}/sys/area/treeData"
									class=" required" allowClear="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('退换地址')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="returnAddress" maxlength="100" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('申请状态')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="statu" dictType="sys_apply_status" blankOption="true" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('审批时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="checkTime" readonly="true" maxlength="20" class="form-control Wdate"
									dataFormat="datetime"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('审批人')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="checkBy" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('审批备注')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input readonly="true" path="checkRemarks" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('备注信息')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">${text('图片上传')}：</label>
							<div class="col-sm-10">
								<#form:fileupload id="uploadImage" bizKey="${returnC.id}" bizType="returnC_image"
									uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">${text('附件上传')}：</label>
							<div class="col-sm-10">
								<#form:fileupload id="uploadFile" bizKey="${returnC.id}" bizType="returnC_file"
									uploadType="all" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>
				<h4 class="form-unit">${text('相关货物')}</h4>
				<div class="ml10 mr10">
					<table id="returnProductCDataGrid"></table>
					<% if (hasPermi('returnc:returnC:edit')){ %>
						<a href="#" id="returnProductCDataGridAddRowBtn" class="btn btn-primary btn-sm mt10 mb10"><i class="fa fa-plus"></i> ${text('增行')}</a>
					<% } %>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('returnc:returnC:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
//初始化相关货物DataGrid对象
$("#returnProductCDataGrid").dataGrid({

	data: ${toJson(returnC.returnProductCList)},
	datatype: "local", // 设置本地数据
	autoGridHeight: function(){return 'auto'}, // 设置自动高度
	
	// 设置数据表格列
	columnModel: [
		{header:'状态', name:'status', editable:true, hidden:true},
		{header:'主键', name:'id', editable:true, hidden:true},
		{header:'${text("退换单ID")}', name:'returnCId.id', editable:true, hidden:true},
		{header:'${text("货物选择")}', name:'productCId', width:180, 
			editable:true, edittype:'select', editoptions:{
				'class':'form-control',
				dataUrl:'${ctx}/purchase/purchaseC/productList'
			}
		},
		{header:'${text("货物编码")}', name:'producCode', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'64', 'class':'form-control'}},
		{header:'${text("单价")}', name:'price', width:150, editable:true, edittype:'text', editoptions:{'min':'0','class':'form-control number'}},
		{header:'${text("数量")}', name:'number', width:150, editable:true, edittype:'text', editoptions:{'min':'0','maxlength':'11', 'class':'form-control required digits'}},
		{header:'${text("总金额")}', name:'totalAmount', width:150, editable:false, edittype:'text', editoptions:{'class':'form-control number'}},
		{header:'${text("包装单位")}', name:'packageUnit', width:100, 
			editable:true, edittype:'select', editoptions:{'class':'form-control',
				items: $.merge([{dictLabel:'&nbsp;',dictValue:''}], ${@DictUtils.getDictListJson('trading_package_unit')}),
				itemLabel: 'dictLabel', itemValue: 'dictValue', dataInit: function(element){
					$(element).select2().on("change",function(){$(this).valid()});
				}
			}
		},
		{header:'${text("净重")}', name:'netWeight', width:150, editable:true, edittype:'text', editoptions:{'min':'0','class':'form-control required number'}},
		{header:'${text("毛重")}', name:'grossWeight', width:150, editable:true, edittype:'text', editoptions:{'min':'0','class':'form-control required number'}},
		{header:'${text("规格")}', name:'spec', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'200', 'class':'form-control'}},
		{header:'${text("备注信息")}', name:'remarks', width:150, editable:true, edittype:'textarea', editoptions:{'maxlength':'500', 'class':'form-control', 'rows':'1'}},
		{header:'${text("操作")}', name:'actions', width:80, sortable:false, fixed:true, formatter: function(val, obj, row, act){
			var actions = [];
			if (val == 'new'){
				actions.push('<a href="#" onclick="js.confirm(\'${text("你确认要删除这条数据吗？")}\', function(){$(\'#returnProductCDataGrid\').dataGrid(\'delRowData\',\''+obj.rowId+'\')});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
			}else{
				actions.push('<a href="#" onclick="js.confirm(\'${text("你确认要删除这条数据吗？")}\', function(){$(\'#returnProductCDataGrid\').dataGrid(\'setRowData\',\''+obj.rowId+'\',null,{display:\'none\'});$(\'#'+obj.rowId+'_status\').val(\''+Global.STATUS_DELETE+'\');});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
			}
			return actions.join('');
		}, editoptions: {defaultValue: 'new'}}
	],
	
	// 编辑表格参数
	editGrid: true,				// 是否是编辑表格
	editGridInitRowNum: 1,		// 编辑表格的初始化新增行数
	editGridAddRowBtn: $('#returnProductCDataGridAddRowBtn'),	// 子表增行按钮
	editGridAddRowInitData: {id: '', status: Global.STATUS_NORMAL},	// 新增行的时候初始化的数据
	
	// 编辑表格的提交数据参数
	editGridInputFormListName: 'returnProductCList', // 提交的数据列表名
	editGridInputFormListAttrs: 'status,id,returnCId.id,productCId,name,producCode,price,number,totalAmount,packageUnit,netWeight,grossWeight,spec,perBoxNum,ctnsMeasrure,singlePackageType,innerPackageType,factoryCId,createBy,createDate,updateBy,updateDate,remarks,statu,tabletype,hsNumber,', // 提交数据列表的属性字段
	
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});

$(function(){
	$("#contract").select2();
	$("#contract").on("select2:select",function(){
		$('#returnProductCDataGrid').jqGrid('clearGridData');
		var param = $(this).val();
		var code = $(this).find("option:selected").text();
		$.ajax({
			type:"POST",
			url:"${ctx}/returnc/returnC/fullProduct",
			data:{contractId:$(this).val()},
			async:false,
			success : function(result) {
	    		//$("#purProductCDataGrid").datagrid('reload');
	    		// 重新加载数据
	    		$("#returnProductCDataGrid").jqGrid('setGridParam', {
	    			datatype:"local",
	    			data:result
	    		}).trigger("reloadGrid");
	    		$('#contractCode').val(code);
			}
		});
	});
	});
</script>