<% layout('/layouts/default.html', {title: '报检审批', libs: ['validate','fileupload','dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(inspectionC.isNewRecord ? '审批报检' : '审批报检')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		
		<#form:form id="inputForm" model="${inspectionC}" action="${ctx}/inspection/inspectionC/checkSave" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('报检编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="inspectionCode" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('报检时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="inspectionTime" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="datetime"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('收货人')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="receiver" maxlength="200" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('运输方式')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="transportWays" blankOption="true" dictType="trading_transport_way" multiple="true" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('贸易方式')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select disabled="disabled" path="tradingWays" dictType="trading_way" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('存货地址')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input readonly="true" path="storeAddr" maxlength="100" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('合同编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" id="contractCode" path="contractCode" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('信用证')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="letterCredit" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('用途')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="using" maxlength="100" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('发货日期')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="sendTime" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="datetime"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('输往国家')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:treeselect disabled="disabled" id="district" title="${text('区域选择')}"
									path="" labelPath="district"
									url="${ctx}/sys/area/treeData"
									class=" required" allowClear="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('许可证')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="license" maxlength="64" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('起始地')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="startAddr" maxlength="64" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('目的地')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="endAddr" maxlength="64" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('集装箱规格')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea readonly="true" path="containerSpec" rows="4" maxlength="100" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('随附单据')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="accessoryDoc" dictType="trading_documents" multiple="true" blankOption="true" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('报检费用(￥)')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="inspectionCost" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('操作员')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input readonly="true" path="operator" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('领证时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="takeTime" readonly="true" maxlength="20" class="form-control Wdate"
									dataFormat="datetime"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('申请状态')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="statu" dictType="trading_sale_status" blankOption="true" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('审批备注')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="checkRemarks" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-sm-2" title="">
                                <span class="required hide">*</span> ${text('备注信息')}：<i class="fa icon-question hide"></i></label>
                            <div class="col-sm-10">
                                <#form:textarea readonly="true" path="remarks" rows="4" maxlength="500" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">${text('附件上传')}：</label>
							<div class="col-sm-10">
								<#form:fileupload id="uploadFile" bizKey="${inspectionC.id}" bizType="inspectionC_file"
									uploadType="all" class="" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				<h4 class="form-unit">${text('相关货物')}</h4>
				<div class="ml10 mr10">
					<table id="inspectionProductCDataGrid"></table>
					<% if (hasPermi('inspection:inspectionC:edit')){ %>
						<a href="#" id="inspectionProductCDataGridAddRowBtn" class="btn btn-primary btn-sm mt10 mb10"><i class="fa fa-plus"></i> ${text('增行')}</a>
					<% } %>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('inspection:inspectionC:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
//初始化相关货物DataGrid对象
$("#inspectionProductCDataGrid").dataGrid({

	data: ${toJson(inspectionC.inspectionProductCList)},
	datatype: "local", // 设置本地数据
	autoGridHeight: function(){return 'auto'}, // 设置自动高度
	
	// 设置数据表格列
	columnModel: [
		{header:'状态', name:'status', editable:true, hidden:true},
		{header:'主键', name:'id', editable:true, hidden:true},
		{header:'${text("托运单ID")}', name:'inspectionCId.id', editable:true, hidden:true},
		{header:'${text("货物名称")}', name:'name', editable:false,width:150},
		{header:'${text("H.S.编码")}', name:'hsNumber', width:180, editable:false, edittype:'text', editoptions:{'maxlength':'64', 'class':'form-control required'}},
		{header:'${text("货物编码")}', name:'producCode', width:150, editable:false, edittype:'text', editoptions:{'maxlength':'64', 'class':'form-control'}},
		{header:'${text("单价")}', name:'price', width:120, editable:false, edittype:'text', editoptions:{'class':'form-control number'}},
		{header:'${text("数量")}', name:'number', width:120, editable:false, edittype:'text', editoptions:{'maxlength':'11', 'class':'form-control required digits'}},
		{header:'${text("总金额")}', name:'totalAmount', width:130, editable:false, edittype:'text', editoptions:{'class':'form-control number'}},
		{header:'${text("包装单位")}', name:'packageUnit', width:150, 
			editable:false, edittype:'select', editoptions:{'class':'form-control',
				items: $.merge([{dictLabel:'&nbsp;',dictValue:''}], ${@DictUtils.getDictListJson('trading_package_unit')}),
				itemLabel: 'dictLabel', itemValue: 'dictValue', dataInit: function(element){
					$(element).select2().on("change",function(){$(this).valid()});
				}
			}
		},
		{header:'${text("净重")}', name:'netWeight', width:120, editable:false, edittype:'text', editoptions:{'class':'form-control required number'}},
		{header:'${text("毛重")}', name:'grossWeight', width:120, editable:false, edittype:'text', editoptions:{'class':'form-control required number'}},
		{header:'${text("规格")}', name:'spec', width:180, editable:false, edittype:'text', editoptions:{'maxlength':'200', 'class':'form-control'}},
		{header:'${text("单件包装方式")}', name:'singlePackageType', width:150, 
			editable:false, edittype:'select', editoptions:{'class':'form-control',
				items: $.merge([{dictLabel:'&nbsp;',dictValue:''}], ${@DictUtils.getDictListJson('trading_single_package')}),
				itemLabel: 'dictLabel', itemValue: 'dictValue', dataInit: function(element){
					$(element).select2().on("change",function(){$(this).valid()});
				}
			}
		},
		{header:'${text("内包装方式")}', name:'innerPackageType', width:150, 
			editable:false, edittype:'select', editoptions:{'class':'form-control',
				items: $.merge([{dictLabel:'&nbsp;',dictValue:''}], ${@DictUtils.getDictListJson('trading_single_package')}),
				itemLabel: 'dictLabel', itemValue: 'dictValue', dataInit: function(element){
					$(element).select2().on("change",function(){$(this).valid()});
				}
			}
		},
		{header:'${text("备注信息")}', name:'remarks', width:150, editable:false, edittype:'textarea', editoptions:{'maxlength':'500', 'class':'form-control', 'rows':'1'}}
	],
	
	// 编辑表格参数
	editGrid: true,				// 是否是编辑表格
	editGridInitRowNum: 1,		// 编辑表格的初始化新增行数
	editGridAddRowBtn: $('#inspectionProductCDataGridAddRowBtn'),	// 子表增行按钮
	editGridAddRowInitData: {id: '', status: Global.STATUS_NORMAL},	// 新增行的时候初始化的数据
	
	// 编辑表格的提交数据参数
	editGridInputFormListName: 'inspectionProductCList', // 提交的数据列表名
	editGridInputFormListAttrs: 'status,id,inspectionCId.id,productCId,name,producCode,price,number,totalAmount,packageUnit,netWeight,grossWeight,spec,perBoxNum,ctnsMeasrure,singlePackageType,innerPackageType,factoryCId,createBy,createDate,updateBy,updateDate,remarks,statu,tabletype,hsNumber,', // 提交数据列表的属性字段
	
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});

</script>