<% layout('/layouts/default.html', {title: '附件管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('附件管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('accessory:accessoryC:edit')){ %>
					<a href="${ctx}/accessory/accessoryC/form" class="btn btn-default btnTool" title="${text('新增附件')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${accessoryC}" action="${ctx}/accessory/accessoryC/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('附件名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('附件编码')}：</label>
					<div class="control-inline">
						<#form:input path="accessoryCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('单价')}：</label>
					<div class="control-inline">
						<#form:input path="price" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('数量')}：</label>
					<div class="control-inline">
						<#form:input path="number" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('规格')}：</label>
					<div class="control-inline">
						<#form:input path="spec" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('存放位置')}：</label>
					<div class="control-inline width-120">
						<#form:select path="position" dictType="trading_position" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("附件名称")}', name:'name', index:'a.name', width:150, align:"center", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/accessory/accessoryC/form?id='+row.id+'" class="btnList" data-title="${text("编辑附件")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("附件编码")}', name:'accessoryCode', index:'a.accessory_code', width:150, align:"left"},
		{header:'${text("单价")}', name:'price', index:'a.price', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("数量")}', name:'number', index:'a.number', width:150, align:"center"},
		{header:'${text("包装单位")}', name:'packageUnit', index:'a.package_unit', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('trading_package_unit')}, val, '${text("未知")}', true);
		}},
		{header:'${text("单个重量")}', name:'weight', index:'a.weight', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("规格")}', name:'spec', index:'a.spec', width:150, align:"center"},
		{header:'${text("存放位置")}', name:'position', index:'a.position', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('trading_position')}, val, '${text("未知")}', true);
		}},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('accessory:accessoryC:edit')){ %>
				actions.push('<a href="${ctx}/accessory/accessoryC/form?id='+row.id+'" class="btnList" title="${text("编辑附件")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/accessory/accessoryC/disable?id='+row.id+'" class="btnList" title="${text("停用附件")}" data-confirm="${text("确认要停用该附件吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/accessory/accessoryC/enable?id='+row.id+'" class="btnList" title="${text("启用附件")}" data-confirm="${text("确认要启用该附件吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/accessory/accessoryC/delete?id='+row.id+'" class="btnList" title="${text("删除附件")}" data-confirm="${text("确认要删除该附件吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>