<% layout('/layouts/default.html', {title: '寄样审批', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('寄样审批')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${sendSpecimenC}" action="${ctx}/send/sendSpecimenC/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('寄样时间')}：</label>
					<div class="control-inline">
						<#form:input path="sendTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('寄送地址')}：</label>
					<div class="control-inline">
						<#form:input path="address" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('物流单号')}：</label>
					<div class="control-inline">
						<#form:input path="logisticsBill" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('总金额')}：</label>
					<div class="control-inline">
						<#form:input path="totalAmount" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('预计送达')}：</label>
					<div class="control-inline">
						<#form:input path="preArriveTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('收货时间')}：</label>
					<div class="control-inline">
						<#form:input path="takeGoodsTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('客户评价')}：</label>
					<div class="control-inline">
						<#form:input path="cusComment" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('审批时间')}：</label>
					<div class="control-inline">
						<#form:input path="checkTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('审批人')}：</label>
					<div class="control-inline">
						<#form:input path="checkBy" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('审批备注')}：</label>
					<div class="control-inline">
						<#form:input path="checkRemarks" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("寄样时间")}', name:'sendTime', index:'a.send_time', width:150, align:"center", frozen:true, formatter: function(val, obj, row, act){
			if(row.statu==1){
			    return '<a href="${ctx}/send/sendSpecimenC/checkForm?id='+row.id+'" class="btnList" data-title="${text("编辑寄样")}">'+(val||row.id)+'</a>';
			}else{
				return row.sendTime;
			}
		}},
		{header:'${text("寄送地址")}', name:'address', index:'a.address', width:150, align:"center"},
		{header:'${text("总金额")}', name:'totalAmount', index:'a.total_amount', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("预计送达")}', name:'preArriveTime', index:'a.pre_arrive_time', width:150, align:"center"},
		{header:'${text("物流单号")}', name:'logisticsBill', index:'a.logistics_bill', width:180, align:"center"},
		{header:'${text("收货时间")}', name:'takeGoodsTime', index:'a.take_goods_time', width:150, align:"center"},
		{header:'${text("审批时间")}', name:'checkTime', index:'a.check_time', width:150, align:"center"},
		{header:'${text("审批人")}', name:'checkBy', index:'a.check_by', width:150, align:"center"},
		{header:'${text("审批备注")}', name:'checkRemarks', index:'a.check_remarks', width:150, align:"center"},
		{header:'${text("申请状态")}', name:'statu', index:'a.statu', width:130, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_apply_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>