<% layout('/layouts/default.html', {title: '付款管理管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('付款管理管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${paybillF}" action="${ctx}/paybill/paybillF/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('付款单号')}：</label>
					<div class="control-inline">
						<#form:input path="paybillCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('付款时间')}：</label>
					<div class="control-inline">
						<#form:input path="paybillTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('付款类型')}：</label>
					<div class="control-inline width-120">
						<#form:select path="paybillType" dictType="trading_rp_type" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('交易金额')}：</label>
					<div class="control-inline">
						<#form:input path="tradeAmount" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('实付金额')}：</label>
					<div class="control-inline">
						<#form:input path="actualAmount" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('收款方')}：</label>
					<div class="control-inline">
						<#form:input path="payer" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('申请状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="statu" dictType="trading_sale_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('审批备注')}：</label>
					<div class="control-inline">
						<#form:input path="checkRemarks" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("付款单号")}', name:'paybillCode', index:'a.paybill_code', width:150, align:"center", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/paybill/paybillF/checkForm?id='+row.id+'" class="btnList" data-title="${text("编辑付款管理")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("付款时间")}', name:'paybillTime', index:'a.paybill_time', width:150, align:"center"},
		{header:'${text("付款类型")}', name:'paybillType', index:'a.paybill_type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('trading_rp_type')}, val, '${text("未知")}', true);
		}},
		{header:'${text("实付金额")}', name:'actualAmount', index:'a.actual_amount', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("申请状态")}', name:'statu', index:'a.statu', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('trading_sale_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("审批时间")}', name:'checkTime', index:'a.check_time', width:150, align:"center"},
		{header:'${text("审批人")}', name:'checkBy', index:'a.check_by', width:150, align:"center"},
		{header:'${text("审批备注")}', name:'checkRemarks', index:'a.check_remarks', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"center"}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>